.projectButton {
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.projectTitle {
  color: var(--text);
  font-size: 2rem;
  text-align: center;
  transition: color var(--theme-transition);
}

.projectWrapper {
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
}

.projectWrapper::before, .projectWrapper::after {
  content: '';
  height: 1px;
  width: 50%;
  background-color: var(--secondary);
  position: absolute;
  left: 25%;
  transition: background-color var(--theme-transition);
}

.projectWrapper::before {
  top: 0;
}

.projectWrapper::after {
  bottom: 0;
}

.description {
  line-height: 1.25;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: clamp(600px, 60%, 800px);
}

.technologies {
  margin: 0 auto;
  list-style: none;
  width: fit-content;
}

.techno {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 6px;
  color: var(--background);
  background-color: var(--text);
  transition: background-color var(--theme-transition), color var(--theme-transition);
}

@media (max-width: 768px) {
  .description {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .description {
    width: 90%;
  }
  .techno {
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}