.projectButton {
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.projectTitle {
  color: var(--text);
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.projectWrapper {
  width: 100%;
}

.description {
  margin: 2rem auto;
  width: clamp(400px, 60%, 800px);
}

.technologies {
  margin: 0 auto;
  list-style: none;
  width: fit-content;
}

.techno {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 6px;
  color: var(--background);
  background-color: var(--text);
}