---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import HeaderHero from '../sections/HeaderHero.astro'
import About from '../sections/About.astro'
import TechnoBand from '../components/TechnoBand.astro'
import Technologies from '../sections/Technologies.astro'
import Projects from '../sections/Projects.astro'
import Contact from '../sections/Contact.astro'
import Footer from '../sections/Footer.astro'
---

<Layout
  title="Eliot Bas - Développeur Web Freelance"
  metaDescription="Développeur Web Freelance à Grenoble / Valence, Eliot Bas, je mets mes compétences à votre service pour réaliser tout type de projet web."
>
  <Navbar languageLink="en" />
  <main>
    <HeaderHero />
    <About />
    <TechnoBand />
    <Technologies />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
