---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeaderHero from '../sections/HeaderHero.astro';
import About from '../sections/About.astro';
import TechnoBand from '../components/TechnoBand.astro';
import Technologies from '../sections/Technologies.astro';
import Projects from '../sections/Projects.astro';
---

<Layout title="Eliot Bas Website">
	<main>
		<Navbar languageLink="en"/>
		<HeaderHero />
		<About />
		<TechnoBand />
		<Technologies />
		<Projects />
	</main>
</Layout>
