---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeaderHero from '../components/HeaderHero.astro';
import About from '../components/About.astro';
---

<Layout title="Eliot Bas Website">
	<main>
		<Navbar languageLink="en"/>
		<HeaderHero />
		<About />
	</main>
</Layout>
