---
---

<div class="loader">
  <span class="loader-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </span>
</div>
<style lang="scss">
  .loader {
    --diagonal-angle: -3deg;
    --loader-height-offset: -50vw * tan(var(--diagonal-angle));
    background-color: var(--accent);
    position: fixed;
    top: calc(-1 * var(--loader-height-offset));
    left: 0;
    height: calc(100vh + 2 * var(--loader-height-offset));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewY(var(--diagonal-angle)) translateY(0);
    transition: transform 0.65s cubic-bezier(0.63, 0.12, 0.87, 0.3) 0.05s;
    z-index: 9999;
    &.hidden {
      transform: skewY(var(--diagonal-angle)) translateY(-100%);
    }
    .loader-container {
      transform: skewY(calc(-1 * var(--diagonal-angle)));
      display: flex;
      .dot {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: var(--white);
        transform-origin: center -200%;
        &:first-child {
          animation: dotSwing1 2s infinite -0.5s;
        }
        &:last-child {
          animation: dotSwing2 2s infinite -0.5s;
        }
      }
    }
  }

  @keyframes dotSwing1 {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }
    25% {
      transform: rotate(70deg);
      animation-timing-function: ease-in;
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes dotSwing2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }
    75% {
      transform: rotate(-70deg);
      animation-timing-function: ease-in;
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>

<script>
  const loader = document.querySelector<HTMLDivElement>('.loader')
  function animateLoader() {
    loader?.classList.add('hidden')
    setTimeout(() => (loader!.style.display = 'none'), 700)
  }

  const animatedElements = document.querySelectorAll<Element>('.animated')

  function animateElements() {
    animatedElements?.forEach((element) => {
      element.classList.remove('animated')
    })
  }

  window.addEventListener('load', animateLoader)
  window.addEventListener('load', animateElements)
</script>
