---
export interface Props {
  link: string
}

const { link } = Astro.props
---

<a class="link animated" href={link} aria-label="Homepage">
  <svg
    class="logo"
    width="81"
    height="81"
    viewBox="0 0 81 81"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="0.785522"
      y="0.959625"
      width="80"
      height="80"
      rx="10"
      fill="currentColor"></rect>
    <path
      d="M31.1548 55.9596V26.8687H50.0753V31.2863H36.4247V39.1841H49.0952V43.6017H36.4247V51.542H50.1889V55.9596H31.1548Z"
      fill="currentColor"></path>
  </svg>
</a>

<style lang="scss">
  .link {
    transition: transform 1s cubic-bezier(0, 0, 0.16, 1) 0.4s;
    &.animated {
      transform: translateY(20px) rotate(15deg);
    }
    .logo {
      width: 50px;
      height: 50px;
      pointer-events: all;
      rect {
        fill: var(--text);
        transition: fill var(--theme-transition);
      }
      path {
        fill: var(--background);
        transition: fill var(--theme-transition);
      }
    }
  }
  @media (max-width: 480px) {
    .link {
      .logo {
        width: 46px;
        height: 46px;
      }
    }
  }
</style>
