---
import ToggleThemeButton from '../components/ToggleThemeButton.astro'
import Logo from '../components/Logo.astro'

export interface Props {
  languageLink: 'en' | 'fr'
}
const { languageLink } = Astro.props
---

<div class="nav-wrapper">
  <Logo />
  <div class="nav-container">
    <nav>
      <ul>
        <li>
          <a href="#about">A propos</a>
        </li>
        <li>
          <a href="#projects">Projets</a>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </li>
      </ul>
      <a class="lang" href=`/${languageLink}`>{languageLink}</a>
      <ToggleThemeButton />
    </nav>
  </div>

  <style lang="scss">
    .nav-wrapper {
      position: fixed;
      top: 1rem;
      left: 0;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      padding: 0 2rem;
      z-index: 999;
      pointer-events: none;
      .nav-container {
        padding: 0 1.6rem;
        background-color: var(--nav-background);
        border-radius: 30px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        pointer-events: all;
      }
    }
    nav {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      ul {
        display: flex;
        gap: 1.2rem;
        list-style: none;
        padding: 0;
        letter-spacing: 0.5px;
        a {
          font-weight: 600;
          font-size: 1rem;
          padding: 0 0.2rem;
          white-space: nowrap;
        }
      }
    }
    .lang {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
    }
  </style>
</div>
