---
const words = [
  'technologies',
  'architecture',
  'software',
  'optimization',
  'accessibility',
  'request',
  'api',
  'performance',
  'database',
  'stack',
  'algorithm',
  'user experience',
]
---

<div class="wrapper">
  <div class="text-scroll">
    {
      [...words, ...words].map((word) => (
        <span class="text-item">{word}&nbsp;-&nbsp;</span>
      ))
    }
  </div>
  <div class="tech-logos">
    <svg
      class="astro"
      width="62"
      height="85"
      viewBox="0 0 62 91"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.651 76.6891C17.2068 72.9724 16.2013 65.163 17.6363 59.5056C20.1244 63.0726 23.5719 64.2024 27.1428 64.8402C32.6555 65.8245 38.0695 65.4564 43.1905 62.4819C43.7762 62.1414 44.3176 61.6887 44.9577 61.23C45.4384 62.8755 45.5633 64.5372 45.3955 66.228C44.9875 70.3465 43.2514 73.5277 40.49 75.9391C39.3858 76.9036 38.2174 77.7658 37.077 78.6754C33.5738 81.4708 32.6259 84.7483 33.9422 89.5162C33.9736 89.6323 34.0017 89.7484 34.0723 90.0319C32.2834 89.0869 30.9771 87.7111 29.9815 85.9018C28.9299 83.9923 28.4296 81.88 28.4033 79.5946C28.39 78.4825 28.39 77.3602 28.2633 76.264C27.954 73.5907 26.8911 72.3937 24.8883 72.3247C22.833 72.2539 21.2072 73.7539 20.776 76.1161C20.7431 76.2973 20.6954 76.4764 20.6477 76.687L20.651 76.6891Z"
        fill="currentColor"></path>
      <path
        d="M0.992676 58.5628C0.992676 58.5628 11.1915 52.6975 21.4189 52.6975L29.1299 24.5257C29.4185 23.1632 30.2616 22.2374 31.213 22.2374C32.1647 22.2374 33.0077 23.1632 33.2964 24.5257L41.0075 52.6975C53.1202 52.6975 61.4336 58.5628 61.4336 58.5628C61.4336 58.5628 44.1101 2.85147 44.0762 2.73969C43.579 1.09256 42.7397 0.0317383 41.608 0.0317383H20.8201C19.6884 0.0317383 18.883 1.09256 18.3519 2.73969C18.3145 2.84936 0.992676 58.5628 0.992676 58.5628Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="css"
      width="71"
      height="81"
      viewBox="0 0 71 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.386597 0.963867L6.79728 72.9412L35.5658 80.9639L64.4134 72.9113L70.8292 0.963867H0.386597ZM57.5119 17.4548L55.3771 41.4335L55.3848 41.5629L55.3746 41.8595V41.8568L53.8577 58.6222L53.6906 60.1116L35.6079 65.1125V65.1151L35.5933 65.1277L17.5426 60.0962L16.3196 46.2355H25.1716L25.7993 53.2845L35.6104 55.9421L35.6079 55.9466L45.4536 53.2494L46.4947 41.7721H25.9115L25.7348 39.8319L25.3311 35.2863L25.1222 32.8454H47.2772L48.0838 23.9186H14.3372L14.1599 21.9807L13.7589 17.4327L13.5472 14.9919H57.7234L57.5119 17.4548Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="git"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M79.0551 36.4603L44.1252 1.53234C42.1153 -0.479372 38.8528 -0.479372 36.8401 1.53234L29.5871 8.786L38.7877 17.987C40.9265 17.2649 43.3781 17.7491 45.0822 19.4536C46.7952 21.1687 47.276 23.6412 46.5357 25.7873L55.4033 34.6547C57.5486 33.9154 60.0239 34.393 61.7369 36.1092C64.1319 38.5035 64.1319 42.3832 61.7369 44.7784C59.3416 47.1741 55.4619 47.1741 53.0655 44.7784C51.2647 42.9761 50.8193 40.3301 51.7314 38.1112L43.4614 29.8409L43.4607 51.6038C44.0446 51.8928 44.5957 52.2786 45.0822 52.7631C47.4765 55.1571 47.4765 59.0362 45.0822 61.434C42.6872 63.828 38.8058 63.828 36.4132 61.434C34.0185 59.0362 34.0185 55.1571 36.4132 52.7631C37.005 52.1723 37.6897 51.7252 38.4204 51.4255V29.4607C37.6897 29.162 37.006 28.718 36.4132 28.123C34.5994 26.3106 34.1625 23.6484 35.0928 21.421L26.0233 12.3496L2.07311 36.2988C0.0607532 38.3122 0.0607532 41.5747 2.07311 43.5868L37.0026 78.5148C39.0136 80.5265 42.275 80.5265 44.2888 78.5148L79.0551 43.7486C81.0668 41.7359 81.0668 38.4724 79.0551 36.4603Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="netlify"
      width="101"
      height="91"
      viewBox="0 0 109 91"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M51.7661 90.4907V67.8179L52.2388 67.3448H56.9621L57.4347 67.8179V90.4907L56.9621 90.9638H52.2388L51.7661 90.4907Z"
        fill="currentColor"></path>
      <path
        d="M51.7661 24.1082V1.43667L52.2388 0.963867H56.9621L57.4347 1.43667V24.1082L56.9621 24.581H52.2388L51.7661 24.1082Z"
        fill="currentColor"></path>
      <path
        d="M31.2333 74.1465H30.5655L27.2261 70.8056V70.1375L35.024 62.3413L38.5602 62.343L39.0346 62.8139V66.3503L31.2333 74.1465Z"
        fill="currentColor"></path>
      <path
        d="M31.2304 17.7817H30.5625L27.2231 21.1228V21.7907L35.0211 29.587L38.5573 29.5854L39.0317 29.1142V25.5781L31.2304 17.7817Z"
        fill="currentColor"></path>
      <path
        d="M1.45718 43.1295H33.5766L34.0494 43.6023V48.3253L33.5766 48.7984H1.45718L0.984375 48.3253V43.6023L1.45718 43.1295Z"
        fill="currentColor"></path>
      <path
        d="M75.6178 43.3175H107.737L108.21 43.7903V48.5133L107.737 48.9864H75.6178L75.145 48.5133V43.7903L75.6178 43.3175Z"
        fill="currentColor"></path>
      <path
        d="M59.5569 57.9054L59.0843 57.4323L59.0873 43.7376C59.0873 41.3752 58.1584 39.5435 55.3066 39.484C53.8403 39.446 52.1625 39.4807 50.3701 39.5567L50.1024 39.8312L50.1059 57.4323L49.6328 57.9054H43.9626L43.4897 57.4323V34.4931L43.9626 34.0203L56.7232 33.9045C63.1162 33.9045 65.7034 38.297 65.7034 43.2549V57.4323L65.2307 57.9054H59.5569Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="next"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M38.3307 0.93852C38.1587 0.954158 37.6112 1.00889 37.1186 1.04799C25.7559 2.07227 15.1127 8.20236 8.37175 17.6242C4.61808 22.863 2.2173 28.8054 1.31017 35.0997C0.98954 37.2968 0.950439 37.9458 0.950439 40.9248C0.950439 43.9039 0.98954 44.5528 1.31017 46.75C3.48416 61.7702 14.1743 74.3901 28.6728 79.0658C31.2691 79.9025 34.0062 80.4733 37.1186 80.8173C38.3307 80.9502 43.5702 80.9502 44.7823 80.8173C50.1547 80.2231 54.7061 78.8938 59.1948 76.6029C59.883 76.251 60.0159 76.1572 59.9221 76.079C59.8595 76.0321 56.927 72.0991 53.4079 67.3452L47.011 58.7052L38.9954 46.8438C34.5848 40.3228 30.9563 34.9902 30.925 34.9902C30.8937 34.9824 30.8625 40.2524 30.8468 46.6874C30.8234 57.9546 30.8155 58.4081 30.6748 58.6739C30.4715 59.0571 30.3151 59.2134 29.9866 59.3855C29.7364 59.5106 29.5174 59.534 28.3366 59.534H26.9837L26.6239 59.3073C26.3893 59.1587 26.2173 58.9632 26.1 58.7365L25.9358 58.3846L25.9514 42.7076L25.9749 27.0227L26.2173 26.7177C26.3424 26.5535 26.6083 26.3424 26.796 26.2408C27.1166 26.0844 27.2417 26.0687 28.5946 26.0687C30.1899 26.0687 30.4558 26.1313 30.8703 26.5848C30.9876 26.7099 35.3278 33.2466 40.5203 41.1203C45.7129 48.994 52.8136 59.7451 56.3014 65.0229L62.6357 74.6168L62.9563 74.4057C65.795 72.5604 68.7979 69.9333 71.1753 67.1966C76.2349 61.3871 79.4959 54.3031 80.5907 46.75C80.9113 44.5528 80.9504 43.9039 80.9504 40.9248C80.9504 37.9458 80.9113 37.2968 80.5907 35.0997C78.4167 20.0794 67.7266 7.45956 53.2281 2.7838C50.6709 1.95499 47.9495 1.3842 44.8996 1.04017C44.1489 0.961977 38.9798 0.875969 38.3307 0.93852ZM54.7061 25.1305C55.0814 25.3181 55.3864 25.6778 55.4959 26.0531C55.5585 26.2564 55.5741 30.6038 55.5585 40.401L55.535 54.4595L53.056 50.6595L50.5692 46.8594V36.64C50.5692 30.033 50.6005 26.319 50.6474 26.1391C50.7725 25.7013 51.0462 25.3572 51.4216 25.1539C51.7422 24.9897 51.8595 24.9741 53.0873 24.9741C54.2447 24.9741 54.448 24.9897 54.7061 25.1305Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="nodejs"
      width="73"
      height="81"
      viewBox="0 0 73 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M46.2714 51.5553C43.2636 51.8484 40.2337 51.2967 37.5223 49.9623C36.9081 49.4708 36.4012 48.8587 36.0328 48.1637C35.6644 47.4687 35.4424 46.7056 35.3804 45.9215C35.3792 45.8041 35.3546 45.6882 35.3083 45.5804C35.2619 45.4726 35.1947 45.3751 35.1104 45.2934C35.0261 45.2118 34.9264 45.1477 34.8171 45.1049C34.7079 45.062 34.5913 45.0413 34.4739 45.0438C33.2076 45.0284 31.9414 45.0318 30.6753 45.0421C30.454 45.0195 30.2328 45.0851 30.0595 45.2246C29.8863 45.364 29.775 45.5662 29.7498 45.7872C29.6776 47.1629 29.9101 48.5377 30.4309 49.8131C30.9516 51.0886 31.7476 52.2333 32.762 53.1654C35.3228 55.1637 38.4322 56.3333 41.6751 56.5182C45.0541 56.9101 48.4739 56.7649 51.8075 56.088C54.3673 55.6105 56.7141 54.3458 58.5205 52.4703C59.519 51.2391 60.1883 49.7743 60.4654 48.2134C60.7425 46.6525 60.6183 45.0469 60.1045 43.5472C59.6729 42.49 59.005 41.5457 58.1518 40.7868C57.2987 40.0279 56.2831 39.4745 55.1828 39.169C50.0597 37.3714 44.5255 37.5074 39.3028 36.1414C38.396 35.856 37.2881 35.5462 36.8841 34.5862C36.6505 33.9107 36.6345 33.179 36.8384 32.4939C37.0423 31.8088 37.4558 31.2049 38.0208 30.7671C39.6607 29.8299 41.528 29.365 43.4158 29.4238C45.978 29.1826 48.5608 29.5522 50.9525 30.5022C51.671 30.9247 52.2889 31.4986 52.7633 32.1839C53.2377 32.8693 53.5572 33.6497 53.6996 34.471C53.7064 34.7133 53.8036 34.9444 53.9721 35.1188C54.1405 35.2932 54.368 35.3983 54.61 35.4136C55.8673 35.4392 57.1251 35.4204 58.3825 35.4221C58.6005 35.4482 58.8206 35.3947 59.0024 35.2715C59.1841 35.1482 59.3153 34.9635 59.3717 34.7513C59.3829 33.0553 58.9508 31.3858 58.1183 29.9082C57.2857 28.4307 56.0816 27.1962 54.6251 26.3272C50.6051 24.4719 46.1431 23.7892 41.7523 24.3575V24.3572C38.5352 24.489 35.4615 25.724 33.0476 27.8547C31.9394 29.0491 31.1889 30.5308 30.8817 32.131C30.5745 33.7311 30.723 35.3854 31.3101 36.9053C31.7671 37.9235 32.4394 38.8304 33.2808 39.5636C34.1222 40.2969 35.1125 40.8389 36.1836 41.1524C41.2896 42.9967 46.8858 42.4049 52.0414 44.0357C53.046 44.3765 54.216 44.8978 54.5238 46.016C54.6892 46.6861 54.6767 47.3878 54.4875 48.0516C54.2983 48.7155 53.939 49.3183 53.4452 49.8006C51.301 51.1326 48.7883 51.7472 46.2714 51.5553V51.5553ZM69.5471 17.7736C59.5781 12.1363 49.6068 6.50398 39.6332 0.876809C38.6324 0.317239 37.505 0.0234375 36.3585 0.0234375C35.2119 0.0234375 34.0845 0.317239 33.0838 0.876809C23.149 6.48697 13.2137 12.0969 3.27785 17.7065C2.31127 18.2333 1.50325 19.0092 0.93761 19.9536C0.371971 20.898 0.0693141 21.9766 0.0610352 23.0774V56.9745C0.0769441 58.0953 0.395898 59.1909 0.984071 60.1452C1.57224 61.0994 2.40771 61.8767 3.40185 62.3945C6.25591 63.948 9.02884 65.6597 11.9346 67.1099C13.6118 68.0065 15.4745 68.5004 17.3756 68.5527C19.2766 68.6049 21.1637 68.214 22.8876 67.4109C24.1774 66.6029 25.227 65.4638 25.9269 64.1122C26.6268 62.7606 26.9514 61.246 26.8669 59.7263C26.8891 48.5395 26.8703 37.3521 26.8754 26.1651C26.8948 26.0428 26.8883 25.9177 26.856 25.7982C26.8238 25.6786 26.7667 25.5671 26.6884 25.4712C26.6102 25.3752 26.5125 25.2968 26.4018 25.2412C26.2912 25.1856 26.17 25.154 26.0463 25.1485C24.7767 25.128 23.5052 25.1365 22.2357 25.1451C22.1182 25.1345 21.9997 25.149 21.8881 25.1874C21.7765 25.2258 21.6743 25.2874 21.5882 25.3681C21.5021 25.4488 21.434 25.5468 21.3884 25.6557C21.3428 25.7646 21.3208 25.8818 21.3237 25.9998C21.3066 37.1149 21.3271 48.2331 21.3135 59.3498C21.3164 60.1171 21.0846 60.867 20.6492 61.4989C20.2137 62.1307 19.5955 62.6143 18.8775 62.8848C18.0506 63.1292 17.1814 63.1964 16.3268 63.082C15.4721 62.9676 14.6512 62.6742 13.9177 62.221C11.2736 60.7276 8.62963 59.2344 5.98567 57.7414C5.81047 57.6584 5.66493 57.5236 5.56864 57.3554C5.47235 57.1871 5.42993 56.9934 5.4471 56.8002C5.4471 45.6166 5.4471 34.4336 5.4471 23.251C5.42872 23.0335 5.47955 22.8157 5.59233 22.6288C5.70512 22.4419 5.87409 22.2954 6.07511 22.2102C15.9773 16.6332 25.8776 11.0503 35.7761 5.46155C35.948 5.34414 36.1514 5.28147 36.3596 5.28178C36.5678 5.28209 36.771 5.34535 36.9426 5.46327C46.8444 11.0421 56.7459 16.6228 66.6468 22.2055C66.8469 22.293 67.0146 22.4408 67.1266 22.6283C67.2385 22.8158 67.2892 23.0336 67.2713 23.2512C67.2696 34.4328 67.2685 45.6153 67.2679 56.7987C67.2854 56.9926 67.2441 57.1873 67.1492 57.3574C67.0543 57.5274 66.9104 57.6649 66.7362 57.7518C56.9856 63.2653 47.2299 68.7708 37.4689 74.2683C37.0026 74.5281 36.4506 74.946 35.9052 74.6313C33.3488 73.1843 30.8236 71.6811 28.2758 70.2204C28.1455 70.1208 27.9885 70.0623 27.8248 70.0525C27.6612 70.0427 27.4983 70.0819 27.3571 70.1652C26.2348 70.8228 25.0536 71.374 23.8287 71.8117C23.2765 72.0354 22.597 72.0991 22.2169 72.6113C22.7014 73.1385 23.2884 73.5613 23.942 73.8537C26.9218 75.5791 29.9031 77.3029 32.886 79.0252C33.8726 79.6447 35.0072 79.9886 36.1717 80.0209C37.3363 80.0533 38.4882 79.773 39.5076 79.2092C49.444 73.6065 59.3798 68.0012 69.3152 62.3934C70.3085 61.8746 71.1434 61.0973 71.7317 60.1436C72.32 59.1898 72.6399 58.0949 72.6577 56.9744V23.0774C72.6494 21.9983 72.3577 20.9403 71.8118 20.0095C71.2658 19.0787 70.4849 18.3076 69.5472 17.7736H69.5471Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="prisma"
      width="81"
      height="81"
      viewBox="0.34 -0.059977834648891726 33.11668247084116 39.96397783464889"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
    >
      <path
        d="M32.908 30.475L19.151 1.26a2.208 2.208 0 0 0-1.88-1.257 2.183 2.183 0 0 0-2.01 1.042L.34 25.212a2.26 2.26 0 0 0 .025 2.426L7.66 38.935a2.346 2.346 0 0 0 2.635.969l21.17-6.262a2.32 2.32 0 0 0 1.457-1.258 2.27 2.27 0 0 0-.013-1.91zm-3.08 1.253L11.864 37.04c-.548.163-1.074-.312-.96-.865l6.418-30.731c.12-.575.914-.666 1.165-.134l11.881 25.23a.858.858 0 0 1-.541 1.188z"
        clip-rule="evenodd"
        fill-rule="evenodd"
      >
      </path>
    </svg>
    <svg
      class="html"
      width="72"
      height="81"
      viewBox="0 0 72 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.946777 0.988355C0.98759 1.37199 1.01208 1.71481 1.04473 2.0658C1.34674 5.46137 1.64058 8.85694 1.95076 12.2525C2.34255 16.5623 2.72619 20.8884 3.10982 25.1981C3.43632 28.8223 3.75465 32.4627 4.07299 36.095C4.4403 40.1844 4.80761 44.2737 5.17492 48.3631C5.49325 51.9872 5.81975 55.6277 6.13809 59.26C6.52988 63.684 6.92984 68.0999 7.31348 72.5239C7.33796 72.8096 7.42775 72.932 7.71343 73.0055C17.0676 75.642 26.4136 78.2866 35.7596 80.9149C35.9963 80.9802 36.2738 80.9802 36.5105 80.9149C45.8973 78.2866 55.2759 75.6501 64.6627 73.0218C64.9811 72.932 65.079 72.7933 65.1035 72.4749C65.2994 70.0099 65.528 67.553 65.7483 65.0879C65.9932 62.3698 66.2381 59.6518 66.4748 56.9337C66.6952 54.5013 66.8992 52.077 67.1278 49.6446C67.3727 46.9184 67.6175 44.2003 67.8542 41.4822C68.0665 39.0579 68.2787 36.6255 68.5072 34.1931C68.7521 31.4832 68.9888 28.7733 69.2337 26.0633C69.4541 23.6228 69.6581 21.1904 69.8867 18.7416C70.1316 16.0317 70.3683 13.3218 70.6131 10.6119C70.8335 8.14681 71.0539 5.67359 71.2825 3.20037C71.3478 2.46575 71.4049 1.72297 71.4784 0.963867C47.9461 0.988354 24.4709 0.988355 0.946777 0.988355ZM57.5451 24.4145C46.2973 24.4145 35.0576 24.4145 23.7689 24.4145C24.0383 27.4591 24.2995 30.4711 24.5525 33.4912C35.2943 33.4912 46.0116 33.4912 56.7533 33.4912C56.6717 34.1278 56.5738 34.7319 56.5166 35.344C56.3697 36.8786 56.2228 38.4131 56.084 39.9395C55.8391 42.7147 55.5943 45.5063 55.3576 48.2897C55.1453 50.7874 54.9331 53.2687 54.7046 55.7583C54.5658 57.3336 54.4107 58.909 54.2801 60.4843C54.2556 60.7292 54.0924 60.7374 53.9536 60.7782C50.1499 61.8311 46.3462 62.8841 42.5425 63.9207C40.453 64.5002 38.3715 65.0879 36.282 65.6593C36.1922 65.692 36.0616 65.6675 35.9555 65.643C30.0459 64.0187 24.1444 62.3943 18.243 60.7782C17.9736 60.7129 17.9655 60.5415 17.9491 60.3537C17.8022 58.46 17.6471 56.5745 17.5084 54.6808C17.3125 52.1342 17.1084 49.5956 16.9125 47.0408C16.9043 46.9755 16.9043 46.8939 16.8962 46.8041C19.8102 46.8041 22.716 46.8041 25.6463 46.8041C25.7198 47.6285 25.8014 48.4611 25.8667 49.2691C25.9973 50.7139 26.1279 52.1505 26.2503 53.6034C26.2585 53.7666 26.3156 53.8319 26.4707 53.8809C29.6377 54.7216 32.7966 55.5787 35.9718 56.4276C36.0861 56.4602 36.2167 56.4439 36.3309 56.4194C39.4571 55.5787 42.5834 54.7298 45.7177 53.8972C45.9055 53.8401 45.9871 53.7585 46.0116 53.5707C46.3544 49.8732 46.7054 46.1756 47.0645 42.4943C47.0645 42.4862 47.0564 42.4617 47.0564 42.429C36.8615 42.429 26.6584 42.429 16.4309 42.429C15.631 33.5075 14.8311 24.6104 14.0312 15.6971C28.8297 15.6971 43.5547 15.6971 58.3613 15.6971C58.1001 18.5947 57.8226 21.4924 57.5451 24.4145Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="react"
      width="81"
      height="81"
      viewBox="-11.5 -10.23174 23 20.46348"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="0" cy="0" r="2.05" fill="currentColor"></circle>
      <g stroke="currentColor" stroke-width="1" fill="none">
        <ellipse rx="11" ry="4.2"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(60)"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(120)"></ellipse>
      </g>
    </svg>
    <svg
      class="svelte"
      width="67"
      height="81"
      viewBox="0 0 67 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M62.6616 11.4563C55.3361 0.819653 40.9979 -2.25621 29.9558 4.44361L11.2754 16.3191C6.16485 19.5251 2.65852 24.7408 1.6299 30.6698C0.716402 35.5976 1.51227 40.6932 3.85984 45.1255C2.25558 47.5382 1.1744 50.2612 0.691374 53.1293C-0.377293 59.1509 1.01673 65.3551 4.5631 70.3481C11.9011 80.9597 26.2017 84.0481 37.2688 77.4258L55.9617 65.5378C61.0448 62.3318 64.5386 57.1161 65.5697 51.1872C66.4682 46.2718 65.6749 41.1887 63.3273 36.7839C68.2927 28.9879 68.0324 18.9645 62.6616 11.4563ZM28.0913 71.3792C22.0822 72.9434 15.7328 70.5834 12.2014 65.4753C10.0366 62.477 9.24322 58.7755 9.8689 55.0989L10.2343 53.327L10.5722 52.2308L11.5758 52.8965C13.7782 54.5659 16.2434 55.7647 18.8762 56.5731L19.5545 56.8083L19.4769 57.474C19.4118 58.4 19.6846 59.4412 20.2202 60.2371C21.3164 61.8138 23.2185 62.5696 25.0555 62.0741C25.4584 61.9439 25.8514 61.8138 26.1892 61.6035L44.8046 49.7281C45.7431 49.1274 46.3437 48.2289 46.5765 47.1603C46.7842 46.0516 46.5114 44.9178 45.9108 44.0193C44.8021 42.4802 42.9125 41.7894 41.0755 42.2474C40.6725 42.3901 40.2421 42.5477 39.9017 42.7555L32.8615 47.2253C26.2017 51.1872 17.5973 49.3251 13.1775 42.9507C11.0277 39.9524 10.1792 36.2108 10.8299 32.5743C11.4807 28.9754 13.633 25.822 16.7489 23.8924L35.3242 12.0169C36.498 11.2861 37.7619 10.753 39.1309 10.3476C45.1399 8.78335 51.4743 11.1434 55.0207 16.2265C57.5235 19.7453 58.2267 24.2427 56.9228 28.3622L56.5849 29.4709L55.6214 28.8052C53.3914 27.1759 50.9162 25.9371 48.2834 25.1287L47.6176 24.9335L47.6827 24.2678C47.7478 23.2892 47.475 22.2606 46.9394 21.4647C45.8432 19.888 43.9411 19.2223 42.1041 19.6928C41.7012 19.8229 41.3082 19.9531 40.9704 20.1633L22.3175 32.1414C21.379 32.7671 20.7783 33.6405 20.5831 34.7342C20.3879 35.8029 20.6482 36.9766 21.2488 37.8376C22.3175 39.4143 24.2596 40.08 26.0591 39.6095C26.4896 39.4794 26.8925 39.3492 27.2204 39.139L34.3381 34.6016C35.4994 33.8332 36.8008 33.2726 38.1323 32.9072C44.1814 31.3305 50.4908 33.7031 54.0221 38.8112C56.187 41.8094 57.0204 45.511 56.4197 49.1474C55.7941 52.7464 53.6692 55.8998 50.5809 57.8294L31.9655 69.6774C30.7542 70.4082 29.4503 70.9813 28.0938 71.3717L28.0913 71.3792Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="three"
      width="81"
      height="81"
      fill="none"
      viewBox="0 0 210 210"
      stroke-linecap="square"
      stroke-miterlimit="10"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        transform="translate(8.964 4.2527)"
        fill-rule="evenodd"
        stroke="currentColor"
        stroke-linecap="butt"
        stroke-linejoin="round"
        stroke-width="4"
      >
        <path d="m63.02 200.61-43.213-174.94 173.23 49.874z"></path>
        <path d="m106.39 50.612 21.591 87.496-86.567-24.945z"></path>
        <path d="m84.91 125.03-10.724-43.465 43.008 12.346z"></path>
        <path d="m63.458 38.153 10.724 43.465-43.008-12.346z"></path>
        <path d="m149.47 62.93 10.724 43.465-43.008-12.346z"></path>
        <path d="m84.915 125.06 10.724 43.465-43.008-12.346z"></path>
      </g>
    </svg>
    <svg
      class="typescript"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.96533 0.270874C1.88867 0.270874 0.215332 1.94421 0.215332 4.02087V76.5209C0.215332 78.5975 1.88867 80.2709 3.96533 80.2709H76.4653C78.542 80.2709 80.2153 78.5975 80.2153 76.5209V4.02087C80.2153 1.94421 78.542 0.270874 76.4653 0.270874H3.96533ZM61.842 32.7709C63.882 32.7709 65.6887 32.8942 67.2653 33.1409C68.7524 33.3637 70.2117 33.7436 71.6187 34.2742V42.4675C70.9433 42.0005 70.2257 41.5976 69.4753 41.2642C68.7014 40.916 67.9025 40.6263 67.0853 40.3975C65.5373 39.9662 63.9389 39.742 62.332 39.7309C61.332 39.7309 60.422 39.8242 59.602 40.0175C58.8712 40.1738 58.1701 40.4462 57.5253 40.8242C56.9587 41.1709 56.5253 41.5875 56.2153 42.0709C55.9035 42.558 55.7413 43.1259 55.7487 43.7042C55.7487 44.3575 55.9253 44.9475 56.2687 45.4675C56.6153 45.9875 57.1087 46.4809 57.7453 46.9475C58.382 47.4142 59.1553 47.8675 60.0653 48.3142C60.9753 48.7642 62.0053 49.2275 63.152 49.7009C64.7187 50.3575 66.1253 51.0575 67.372 51.7942C68.6187 52.5342 69.6887 53.3709 70.582 54.3042C71.4753 55.2342 72.1553 56.2975 72.6287 57.4942C73.102 58.6909 73.342 60.0809 73.342 61.6709C73.342 63.8609 72.9253 65.7042 72.0987 67.1909C71.291 68.6571 70.1319 69.8998 68.7253 70.8075C67.2093 71.7688 65.529 72.4423 63.7687 72.7942C61.882 73.1942 59.892 73.3942 57.802 73.3942C55.745 73.4032 53.6916 73.2202 51.6687 72.8475C49.9184 72.5448 48.221 71.9914 46.6287 71.2042V62.4375C49.6413 65.0013 53.4629 66.418 57.4187 66.4375C58.5287 66.4375 59.4987 66.3375 60.3253 66.1375C61.1553 65.9375 61.8453 65.6575 62.402 65.3042C62.9553 64.9442 63.3687 64.5242 63.6453 64.0375C63.9511 63.4709 64.0902 62.8293 64.0466 62.1869C64.0029 61.5445 63.7783 60.9276 63.3987 60.4075C62.9034 59.7522 62.2977 59.1882 61.6087 58.7409C60.7542 58.1745 59.8545 57.6795 58.9187 57.2609C57.8095 56.7543 56.6904 56.2698 55.562 55.8075C52.502 54.5309 50.222 52.9675 48.7187 51.1242C47.2187 49.2809 46.4653 47.0509 46.4653 44.4409C46.4653 42.3942 46.8753 40.6375 47.6953 39.1675C48.5153 37.6975 49.6287 36.4875 51.042 35.5375C52.5369 34.5514 54.1965 33.8412 55.942 33.4409C57.8753 32.9851 59.8558 32.7602 61.842 32.7709ZM11.4653 33.3975H43.342V40.6175H31.902V72.7709H22.8453V40.6175H11.4653V33.3975Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="tailwind"
      xmlns="http://www.w3.org/2000/svg"
      width="90"
      height="61"
      viewBox="0 0 100 61"
      fill="none"
    >
      <mask
        id="mask0_316_41"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="100"
        height="60"
      >
        <path d="M0 0H100V59.8909H0V0Z" fill="white"></path>
      </mask>
      <g mask="url(#mask0_316_41)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M50 0C36.6667 0 28.3333 6.65455 25 19.9636C30 13.3091 35.8333 10.8136 42.5 12.4773C46.3037 13.4255 49.0222 16.1816 52.0315 19.2298C56.9333 24.1967 62.6074 29.9455 75 29.9455C88.3333 29.9455 96.6667 23.2909 100 9.98182C95 16.6364 89.1667 19.1318 82.5 17.4682C78.6963 16.5199 75.9778 13.7638 72.9685 10.7157C68.0667 5.74879 62.3926 0 50 0ZM25 29.9455C11.6667 29.9455 3.33333 36.6 0 49.9091C5 43.2545 10.8333 40.7591 17.5 42.4227C21.3037 43.3729 24.0222 46.1271 27.0315 49.1752C31.9333 54.1421 37.6074 59.8909 50 59.8909C63.3333 59.8909 71.6667 53.2364 75 39.9273C70 46.5818 64.1667 49.0773 57.5 47.4136C53.6963 46.4654 50.9778 43.7093 47.9685 40.6611C43.0667 35.6942 37.3926 29.9455 25 29.9455Z"
          fill="currentColor"></path>
      </g>
    </svg>
    <svg
      class="vercel"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M36.7336 0.371147C28.8845 1.23159 21.5044 4.2666 15.5472 9.06944C13.5302 10.6965 10.231 14.0913 8.77692 16.0312C4.63344 21.5693 1.991 27.8897 0.990314 34.695C0.646328 36.9947 0.536877 41.3908 0.755778 43.6905C1.41248 50.4645 3.57021 56.7223 7.08826 62.057C13.5615 71.8974 23.4589 78.2021 35.0919 79.9229C37.3903 80.2671 41.784 80.3766 44.0824 80.1576C50.8527 79.5005 57.107 77.3416 62.4388 73.8216C72.2737 67.3448 78.5749 57.4419 80.2948 45.8025C80.6388 43.5028 80.7483 39.1067 80.5294 36.807C79.732 28.6093 76.8081 21.3503 71.8046 15.1395C70.1785 13.1213 66.7856 9.82037 64.8467 8.36544C59.3117 4.21967 53.0417 1.60705 46.1933 0.574524C44.3013 0.292925 38.5787 0.16777 36.7336 0.371147ZM50.9465 37.1042C56.3721 46.6004 60.8127 54.3913 60.8127 54.4226C60.8127 54.4539 51.916 54.4851 41.0335 54.4851C30.151 54.4851 21.2542 54.4539 21.2542 54.4069C21.2542 54.2818 41.0022 19.7389 41.0491 19.8015C41.0647 19.8171 45.5366 27.6081 50.9465 37.1042Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="astro"
      width="62"
      height="85"
      viewBox="0 0 62 91"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.651 76.6891C17.2068 72.9724 16.2013 65.163 17.6363 59.5056C20.1244 63.0726 23.5719 64.2024 27.1428 64.8402C32.6555 65.8245 38.0695 65.4564 43.1905 62.4819C43.7762 62.1414 44.3176 61.6887 44.9577 61.23C45.4384 62.8755 45.5633 64.5372 45.3955 66.228C44.9875 70.3465 43.2514 73.5277 40.49 75.9391C39.3858 76.9036 38.2174 77.7658 37.077 78.6754C33.5738 81.4708 32.6259 84.7483 33.9422 89.5162C33.9736 89.6323 34.0017 89.7484 34.0723 90.0319C32.2834 89.0869 30.9771 87.7111 29.9815 85.9018C28.9299 83.9923 28.4296 81.88 28.4033 79.5946C28.39 78.4825 28.39 77.3602 28.2633 76.264C27.954 73.5907 26.8911 72.3937 24.8883 72.3247C22.833 72.2539 21.2072 73.7539 20.776 76.1161C20.7431 76.2973 20.6954 76.4764 20.6477 76.687L20.651 76.6891Z"
        fill="currentColor"></path>
      <path
        d="M0.992676 58.5628C0.992676 58.5628 11.1915 52.6975 21.4189 52.6975L29.1299 24.5257C29.4185 23.1632 30.2616 22.2374 31.213 22.2374C32.1647 22.2374 33.0077 23.1632 33.2964 24.5257L41.0075 52.6975C53.1202 52.6975 61.4336 58.5628 61.4336 58.5628C61.4336 58.5628 44.1101 2.85147 44.0762 2.73969C43.579 1.09256 42.7397 0.0317383 41.608 0.0317383H20.8201C19.6884 0.0317383 18.883 1.09256 18.3519 2.73969C18.3145 2.84936 0.992676 58.5628 0.992676 58.5628Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="css"
      width="71"
      height="81"
      viewBox="0 0 71 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.386597 0.963867L6.79728 72.9412L35.5658 80.9639L64.4134 72.9113L70.8292 0.963867H0.386597ZM57.5119 17.4548L55.3771 41.4335L55.3848 41.5629L55.3746 41.8595V41.8568L53.8577 58.6222L53.6906 60.1116L35.6079 65.1125V65.1151L35.5933 65.1277L17.5426 60.0962L16.3196 46.2355H25.1716L25.7993 53.2845L35.6104 55.9421L35.6079 55.9466L45.4536 53.2494L46.4947 41.7721H25.9115L25.7348 39.8319L25.3311 35.2863L25.1222 32.8454H47.2772L48.0838 23.9186H14.3372L14.1599 21.9807L13.7589 17.4327L13.5472 14.9919H57.7234L57.5119 17.4548Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="git"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M79.0551 36.4603L44.1252 1.53234C42.1153 -0.479372 38.8528 -0.479372 36.8401 1.53234L29.5871 8.786L38.7877 17.987C40.9265 17.2649 43.3781 17.7491 45.0822 19.4536C46.7952 21.1687 47.276 23.6412 46.5357 25.7873L55.4033 34.6547C57.5486 33.9154 60.0239 34.393 61.7369 36.1092C64.1319 38.5035 64.1319 42.3832 61.7369 44.7784C59.3416 47.1741 55.4619 47.1741 53.0655 44.7784C51.2647 42.9761 50.8193 40.3301 51.7314 38.1112L43.4614 29.8409L43.4607 51.6038C44.0446 51.8928 44.5957 52.2786 45.0822 52.7631C47.4765 55.1571 47.4765 59.0362 45.0822 61.434C42.6872 63.828 38.8058 63.828 36.4132 61.434C34.0185 59.0362 34.0185 55.1571 36.4132 52.7631C37.005 52.1723 37.6897 51.7252 38.4204 51.4255V29.4607C37.6897 29.162 37.006 28.718 36.4132 28.123C34.5994 26.3106 34.1625 23.6484 35.0928 21.421L26.0233 12.3496L2.07311 36.2988C0.0607532 38.3122 0.0607532 41.5747 2.07311 43.5868L37.0026 78.5148C39.0136 80.5265 42.275 80.5265 44.2888 78.5148L79.0551 43.7486C81.0668 41.7359 81.0668 38.4724 79.0551 36.4603Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="netlify"
      width="101"
      height="91"
      viewBox="0 0 109 91"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M51.7661 90.4907V67.8179L52.2388 67.3448H56.9621L57.4347 67.8179V90.4907L56.9621 90.9638H52.2388L51.7661 90.4907Z"
        fill="currentColor"></path>
      <path
        d="M51.7661 24.1082V1.43667L52.2388 0.963867H56.9621L57.4347 1.43667V24.1082L56.9621 24.581H52.2388L51.7661 24.1082Z"
        fill="currentColor"></path>
      <path
        d="M31.2333 74.1465H30.5655L27.2261 70.8056V70.1375L35.024 62.3413L38.5602 62.343L39.0346 62.8139V66.3503L31.2333 74.1465Z"
        fill="currentColor"></path>
      <path
        d="M31.2304 17.7817H30.5625L27.2231 21.1228V21.7907L35.0211 29.587L38.5573 29.5854L39.0317 29.1142V25.5781L31.2304 17.7817Z"
        fill="currentColor"></path>
      <path
        d="M1.45718 43.1295H33.5766L34.0494 43.6023V48.3253L33.5766 48.7984H1.45718L0.984375 48.3253V43.6023L1.45718 43.1295Z"
        fill="currentColor"></path>
      <path
        d="M75.6178 43.3175H107.737L108.21 43.7903V48.5133L107.737 48.9864H75.6178L75.145 48.5133V43.7903L75.6178 43.3175Z"
        fill="currentColor"></path>
      <path
        d="M59.5569 57.9054L59.0843 57.4323L59.0873 43.7376C59.0873 41.3752 58.1584 39.5435 55.3066 39.484C53.8403 39.446 52.1625 39.4807 50.3701 39.5567L50.1024 39.8312L50.1059 57.4323L49.6328 57.9054H43.9626L43.4897 57.4323V34.4931L43.9626 34.0203L56.7232 33.9045C63.1162 33.9045 65.7034 38.297 65.7034 43.2549V57.4323L65.2307 57.9054H59.5569Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="next"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M38.3307 0.93852C38.1587 0.954158 37.6112 1.00889 37.1186 1.04799C25.7559 2.07227 15.1127 8.20236 8.37175 17.6242C4.61808 22.863 2.2173 28.8054 1.31017 35.0997C0.98954 37.2968 0.950439 37.9458 0.950439 40.9248C0.950439 43.9039 0.98954 44.5528 1.31017 46.75C3.48416 61.7702 14.1743 74.3901 28.6728 79.0658C31.2691 79.9025 34.0062 80.4733 37.1186 80.8173C38.3307 80.9502 43.5702 80.9502 44.7823 80.8173C50.1547 80.2231 54.7061 78.8938 59.1948 76.6029C59.883 76.251 60.0159 76.1572 59.9221 76.079C59.8595 76.0321 56.927 72.0991 53.4079 67.3452L47.011 58.7052L38.9954 46.8438C34.5848 40.3228 30.9563 34.9902 30.925 34.9902C30.8937 34.9824 30.8625 40.2524 30.8468 46.6874C30.8234 57.9546 30.8155 58.4081 30.6748 58.6739C30.4715 59.0571 30.3151 59.2134 29.9866 59.3855C29.7364 59.5106 29.5174 59.534 28.3366 59.534H26.9837L26.6239 59.3073C26.3893 59.1587 26.2173 58.9632 26.1 58.7365L25.9358 58.3846L25.9514 42.7076L25.9749 27.0227L26.2173 26.7177C26.3424 26.5535 26.6083 26.3424 26.796 26.2408C27.1166 26.0844 27.2417 26.0687 28.5946 26.0687C30.1899 26.0687 30.4558 26.1313 30.8703 26.5848C30.9876 26.7099 35.3278 33.2466 40.5203 41.1203C45.7129 48.994 52.8136 59.7451 56.3014 65.0229L62.6357 74.6168L62.9563 74.4057C65.795 72.5604 68.7979 69.9333 71.1753 67.1966C76.2349 61.3871 79.4959 54.3031 80.5907 46.75C80.9113 44.5528 80.9504 43.9039 80.9504 40.9248C80.9504 37.9458 80.9113 37.2968 80.5907 35.0997C78.4167 20.0794 67.7266 7.45956 53.2281 2.7838C50.6709 1.95499 47.9495 1.3842 44.8996 1.04017C44.1489 0.961977 38.9798 0.875969 38.3307 0.93852ZM54.7061 25.1305C55.0814 25.3181 55.3864 25.6778 55.4959 26.0531C55.5585 26.2564 55.5741 30.6038 55.5585 40.401L55.535 54.4595L53.056 50.6595L50.5692 46.8594V36.64C50.5692 30.033 50.6005 26.319 50.6474 26.1391C50.7725 25.7013 51.0462 25.3572 51.4216 25.1539C51.7422 24.9897 51.8595 24.9741 53.0873 24.9741C54.2447 24.9741 54.448 24.9897 54.7061 25.1305Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="nodejs"
      width="73"
      height="81"
      viewBox="0 0 73 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M46.2714 51.5553C43.2636 51.8484 40.2337 51.2967 37.5223 49.9623C36.9081 49.4708 36.4012 48.8587 36.0328 48.1637C35.6644 47.4687 35.4424 46.7056 35.3804 45.9215C35.3792 45.8041 35.3546 45.6882 35.3083 45.5804C35.2619 45.4726 35.1947 45.3751 35.1104 45.2934C35.0261 45.2118 34.9264 45.1477 34.8171 45.1049C34.7079 45.062 34.5913 45.0413 34.4739 45.0438C33.2076 45.0284 31.9414 45.0318 30.6753 45.0421C30.454 45.0195 30.2328 45.0851 30.0595 45.2246C29.8863 45.364 29.775 45.5662 29.7498 45.7872C29.6776 47.1629 29.9101 48.5377 30.4309 49.8131C30.9516 51.0886 31.7476 52.2333 32.762 53.1654C35.3228 55.1637 38.4322 56.3333 41.6751 56.5182C45.0541 56.9101 48.4739 56.7649 51.8075 56.088C54.3673 55.6105 56.7141 54.3458 58.5205 52.4703C59.519 51.2391 60.1883 49.7743 60.4654 48.2134C60.7425 46.6525 60.6183 45.0469 60.1045 43.5472C59.6729 42.49 59.005 41.5457 58.1518 40.7868C57.2987 40.0279 56.2831 39.4745 55.1828 39.169C50.0597 37.3714 44.5255 37.5074 39.3028 36.1414C38.396 35.856 37.2881 35.5462 36.8841 34.5862C36.6505 33.9107 36.6345 33.179 36.8384 32.4939C37.0423 31.8088 37.4558 31.2049 38.0208 30.7671C39.6607 29.8299 41.528 29.365 43.4158 29.4238C45.978 29.1826 48.5608 29.5522 50.9525 30.5022C51.671 30.9247 52.2889 31.4986 52.7633 32.1839C53.2377 32.8693 53.5572 33.6497 53.6996 34.471C53.7064 34.7133 53.8036 34.9444 53.9721 35.1188C54.1405 35.2932 54.368 35.3983 54.61 35.4136C55.8673 35.4392 57.1251 35.4204 58.3825 35.4221C58.6005 35.4482 58.8206 35.3947 59.0024 35.2715C59.1841 35.1482 59.3153 34.9635 59.3717 34.7513C59.3829 33.0553 58.9508 31.3858 58.1183 29.9082C57.2857 28.4307 56.0816 27.1962 54.6251 26.3272C50.6051 24.4719 46.1431 23.7892 41.7523 24.3575V24.3572C38.5352 24.489 35.4615 25.724 33.0476 27.8547C31.9394 29.0491 31.1889 30.5308 30.8817 32.131C30.5745 33.7311 30.723 35.3854 31.3101 36.9053C31.7671 37.9235 32.4394 38.8304 33.2808 39.5636C34.1222 40.2969 35.1125 40.8389 36.1836 41.1524C41.2896 42.9967 46.8858 42.4049 52.0414 44.0357C53.046 44.3765 54.216 44.8978 54.5238 46.016C54.6892 46.6861 54.6767 47.3878 54.4875 48.0516C54.2983 48.7155 53.939 49.3183 53.4452 49.8006C51.301 51.1326 48.7883 51.7472 46.2714 51.5553V51.5553ZM69.5471 17.7736C59.5781 12.1363 49.6068 6.50398 39.6332 0.876809C38.6324 0.317239 37.505 0.0234375 36.3585 0.0234375C35.2119 0.0234375 34.0845 0.317239 33.0838 0.876809C23.149 6.48697 13.2137 12.0969 3.27785 17.7065C2.31127 18.2333 1.50325 19.0092 0.93761 19.9536C0.371971 20.898 0.0693141 21.9766 0.0610352 23.0774V56.9745C0.0769441 58.0953 0.395898 59.1909 0.984071 60.1452C1.57224 61.0994 2.40771 61.8767 3.40185 62.3945C6.25591 63.948 9.02884 65.6597 11.9346 67.1099C13.6118 68.0065 15.4745 68.5004 17.3756 68.5527C19.2766 68.6049 21.1637 68.214 22.8876 67.4109C24.1774 66.6029 25.227 65.4638 25.9269 64.1122C26.6268 62.7606 26.9514 61.246 26.8669 59.7263C26.8891 48.5395 26.8703 37.3521 26.8754 26.1651C26.8948 26.0428 26.8883 25.9177 26.856 25.7982C26.8238 25.6786 26.7667 25.5671 26.6884 25.4712C26.6102 25.3752 26.5125 25.2968 26.4018 25.2412C26.2912 25.1856 26.17 25.154 26.0463 25.1485C24.7767 25.128 23.5052 25.1365 22.2357 25.1451C22.1182 25.1345 21.9997 25.149 21.8881 25.1874C21.7765 25.2258 21.6743 25.2874 21.5882 25.3681C21.5021 25.4488 21.434 25.5468 21.3884 25.6557C21.3428 25.7646 21.3208 25.8818 21.3237 25.9998C21.3066 37.1149 21.3271 48.2331 21.3135 59.3498C21.3164 60.1171 21.0846 60.867 20.6492 61.4989C20.2137 62.1307 19.5955 62.6143 18.8775 62.8848C18.0506 63.1292 17.1814 63.1964 16.3268 63.082C15.4721 62.9676 14.6512 62.6742 13.9177 62.221C11.2736 60.7276 8.62963 59.2344 5.98567 57.7414C5.81047 57.6584 5.66493 57.5236 5.56864 57.3554C5.47235 57.1871 5.42993 56.9934 5.4471 56.8002C5.4471 45.6166 5.4471 34.4336 5.4471 23.251C5.42872 23.0335 5.47955 22.8157 5.59233 22.6288C5.70512 22.4419 5.87409 22.2954 6.07511 22.2102C15.9773 16.6332 25.8776 11.0503 35.7761 5.46155C35.948 5.34414 36.1514 5.28147 36.3596 5.28178C36.5678 5.28209 36.771 5.34535 36.9426 5.46327C46.8444 11.0421 56.7459 16.6228 66.6468 22.2055C66.8469 22.293 67.0146 22.4408 67.1266 22.6283C67.2385 22.8158 67.2892 23.0336 67.2713 23.2512C67.2696 34.4328 67.2685 45.6153 67.2679 56.7987C67.2854 56.9926 67.2441 57.1873 67.1492 57.3574C67.0543 57.5274 66.9104 57.6649 66.7362 57.7518C56.9856 63.2653 47.2299 68.7708 37.4689 74.2683C37.0026 74.5281 36.4506 74.946 35.9052 74.6313C33.3488 73.1843 30.8236 71.6811 28.2758 70.2204C28.1455 70.1208 27.9885 70.0623 27.8248 70.0525C27.6612 70.0427 27.4983 70.0819 27.3571 70.1652C26.2348 70.8228 25.0536 71.374 23.8287 71.8117C23.2765 72.0354 22.597 72.0991 22.2169 72.6113C22.7014 73.1385 23.2884 73.5613 23.942 73.8537C26.9218 75.5791 29.9031 77.3029 32.886 79.0252C33.8726 79.6447 35.0072 79.9886 36.1717 80.0209C37.3363 80.0533 38.4882 79.773 39.5076 79.2092C49.444 73.6065 59.3798 68.0012 69.3152 62.3934C70.3085 61.8746 71.1434 61.0973 71.7317 60.1436C72.32 59.1898 72.6399 58.0949 72.6577 56.9744V23.0774C72.6494 21.9983 72.3577 20.9403 71.8118 20.0095C71.2658 19.0787 70.4849 18.3076 69.5472 17.7736H69.5471Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="prisma"
      width="81"
      height="81"
      viewBox="0.34 -0.059977834648891726 33.11668247084116 39.96397783464889"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
    >
      <path
        d="M32.908 30.475L19.151 1.26a2.208 2.208 0 0 0-1.88-1.257 2.183 2.183 0 0 0-2.01 1.042L.34 25.212a2.26 2.26 0 0 0 .025 2.426L7.66 38.935a2.346 2.346 0 0 0 2.635.969l21.17-6.262a2.32 2.32 0 0 0 1.457-1.258 2.27 2.27 0 0 0-.013-1.91zm-3.08 1.253L11.864 37.04c-.548.163-1.074-.312-.96-.865l6.418-30.731c.12-.575.914-.666 1.165-.134l11.881 25.23a.858.858 0 0 1-.541 1.188z"
        clip-rule="evenodd"
        fill-rule="evenodd"
      >
      </path>
    </svg>
    <svg
      class="html"
      width="72"
      height="81"
      viewBox="0 0 72 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.946777 0.988355C0.98759 1.37199 1.01208 1.71481 1.04473 2.0658C1.34674 5.46137 1.64058 8.85694 1.95076 12.2525C2.34255 16.5623 2.72619 20.8884 3.10982 25.1981C3.43632 28.8223 3.75465 32.4627 4.07299 36.095C4.4403 40.1844 4.80761 44.2737 5.17492 48.3631C5.49325 51.9872 5.81975 55.6277 6.13809 59.26C6.52988 63.684 6.92984 68.0999 7.31348 72.5239C7.33796 72.8096 7.42775 72.932 7.71343 73.0055C17.0676 75.642 26.4136 78.2866 35.7596 80.9149C35.9963 80.9802 36.2738 80.9802 36.5105 80.9149C45.8973 78.2866 55.2759 75.6501 64.6627 73.0218C64.9811 72.932 65.079 72.7933 65.1035 72.4749C65.2994 70.0099 65.528 67.553 65.7483 65.0879C65.9932 62.3698 66.2381 59.6518 66.4748 56.9337C66.6952 54.5013 66.8992 52.077 67.1278 49.6446C67.3727 46.9184 67.6175 44.2003 67.8542 41.4822C68.0665 39.0579 68.2787 36.6255 68.5072 34.1931C68.7521 31.4832 68.9888 28.7733 69.2337 26.0633C69.4541 23.6228 69.6581 21.1904 69.8867 18.7416C70.1316 16.0317 70.3683 13.3218 70.6131 10.6119C70.8335 8.14681 71.0539 5.67359 71.2825 3.20037C71.3478 2.46575 71.4049 1.72297 71.4784 0.963867C47.9461 0.988354 24.4709 0.988355 0.946777 0.988355ZM57.5451 24.4145C46.2973 24.4145 35.0576 24.4145 23.7689 24.4145C24.0383 27.4591 24.2995 30.4711 24.5525 33.4912C35.2943 33.4912 46.0116 33.4912 56.7533 33.4912C56.6717 34.1278 56.5738 34.7319 56.5166 35.344C56.3697 36.8786 56.2228 38.4131 56.084 39.9395C55.8391 42.7147 55.5943 45.5063 55.3576 48.2897C55.1453 50.7874 54.9331 53.2687 54.7046 55.7583C54.5658 57.3336 54.4107 58.909 54.2801 60.4843C54.2556 60.7292 54.0924 60.7374 53.9536 60.7782C50.1499 61.8311 46.3462 62.8841 42.5425 63.9207C40.453 64.5002 38.3715 65.0879 36.282 65.6593C36.1922 65.692 36.0616 65.6675 35.9555 65.643C30.0459 64.0187 24.1444 62.3943 18.243 60.7782C17.9736 60.7129 17.9655 60.5415 17.9491 60.3537C17.8022 58.46 17.6471 56.5745 17.5084 54.6808C17.3125 52.1342 17.1084 49.5956 16.9125 47.0408C16.9043 46.9755 16.9043 46.8939 16.8962 46.8041C19.8102 46.8041 22.716 46.8041 25.6463 46.8041C25.7198 47.6285 25.8014 48.4611 25.8667 49.2691C25.9973 50.7139 26.1279 52.1505 26.2503 53.6034C26.2585 53.7666 26.3156 53.8319 26.4707 53.8809C29.6377 54.7216 32.7966 55.5787 35.9718 56.4276C36.0861 56.4602 36.2167 56.4439 36.3309 56.4194C39.4571 55.5787 42.5834 54.7298 45.7177 53.8972C45.9055 53.8401 45.9871 53.7585 46.0116 53.5707C46.3544 49.8732 46.7054 46.1756 47.0645 42.4943C47.0645 42.4862 47.0564 42.4617 47.0564 42.429C36.8615 42.429 26.6584 42.429 16.4309 42.429C15.631 33.5075 14.8311 24.6104 14.0312 15.6971C28.8297 15.6971 43.5547 15.6971 58.3613 15.6971C58.1001 18.5947 57.8226 21.4924 57.5451 24.4145Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="react"
      width="81"
      height="81"
      viewBox="-11.5 -10.23174 23 20.46348"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="0" cy="0" r="2.05" fill="currentColor"></circle>
      <g stroke="currentColor" stroke-width="1" fill="none">
        <ellipse rx="11" ry="4.2"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(60)"></ellipse>
        <ellipse rx="11" ry="4.2" transform="rotate(120)"></ellipse>
      </g>
    </svg>
    <svg
      class="svelte"
      width="67"
      height="81"
      viewBox="0 0 67 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M62.6616 11.4563C55.3361 0.819653 40.9979 -2.25621 29.9558 4.44361L11.2754 16.3191C6.16485 19.5251 2.65852 24.7408 1.6299 30.6698C0.716402 35.5976 1.51227 40.6932 3.85984 45.1255C2.25558 47.5382 1.1744 50.2612 0.691374 53.1293C-0.377293 59.1509 1.01673 65.3551 4.5631 70.3481C11.9011 80.9597 26.2017 84.0481 37.2688 77.4258L55.9617 65.5378C61.0448 62.3318 64.5386 57.1161 65.5697 51.1872C66.4682 46.2718 65.6749 41.1887 63.3273 36.7839C68.2927 28.9879 68.0324 18.9645 62.6616 11.4563ZM28.0913 71.3792C22.0822 72.9434 15.7328 70.5834 12.2014 65.4753C10.0366 62.477 9.24322 58.7755 9.8689 55.0989L10.2343 53.327L10.5722 52.2308L11.5758 52.8965C13.7782 54.5659 16.2434 55.7647 18.8762 56.5731L19.5545 56.8083L19.4769 57.474C19.4118 58.4 19.6846 59.4412 20.2202 60.2371C21.3164 61.8138 23.2185 62.5696 25.0555 62.0741C25.4584 61.9439 25.8514 61.8138 26.1892 61.6035L44.8046 49.7281C45.7431 49.1274 46.3437 48.2289 46.5765 47.1603C46.7842 46.0516 46.5114 44.9178 45.9108 44.0193C44.8021 42.4802 42.9125 41.7894 41.0755 42.2474C40.6725 42.3901 40.2421 42.5477 39.9017 42.7555L32.8615 47.2253C26.2017 51.1872 17.5973 49.3251 13.1775 42.9507C11.0277 39.9524 10.1792 36.2108 10.8299 32.5743C11.4807 28.9754 13.633 25.822 16.7489 23.8924L35.3242 12.0169C36.498 11.2861 37.7619 10.753 39.1309 10.3476C45.1399 8.78335 51.4743 11.1434 55.0207 16.2265C57.5235 19.7453 58.2267 24.2427 56.9228 28.3622L56.5849 29.4709L55.6214 28.8052C53.3914 27.1759 50.9162 25.9371 48.2834 25.1287L47.6176 24.9335L47.6827 24.2678C47.7478 23.2892 47.475 22.2606 46.9394 21.4647C45.8432 19.888 43.9411 19.2223 42.1041 19.6928C41.7012 19.8229 41.3082 19.9531 40.9704 20.1633L22.3175 32.1414C21.379 32.7671 20.7783 33.6405 20.5831 34.7342C20.3879 35.8029 20.6482 36.9766 21.2488 37.8376C22.3175 39.4143 24.2596 40.08 26.0591 39.6095C26.4896 39.4794 26.8925 39.3492 27.2204 39.139L34.3381 34.6016C35.4994 33.8332 36.8008 33.2726 38.1323 32.9072C44.1814 31.3305 50.4908 33.7031 54.0221 38.8112C56.187 41.8094 57.0204 45.511 56.4197 49.1474C55.7941 52.7464 53.6692 55.8998 50.5809 57.8294L31.9655 69.6774C30.7542 70.4082 29.4503 70.9813 28.0938 71.3717L28.0913 71.3792Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="three"
      width="81"
      height="81"
      fill="none"
      viewBox="0 0 210 210"
      stroke-linecap="square"
      stroke-miterlimit="10"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        transform="translate(8.964 4.2527)"
        fill-rule="evenodd"
        stroke="currentColor"
        stroke-linecap="butt"
        stroke-linejoin="round"
        stroke-width="4"
      >
        <path d="m63.02 200.61-43.213-174.94 173.23 49.874z"></path>
        <path d="m106.39 50.612 21.591 87.496-86.567-24.945z"></path>
        <path d="m84.91 125.03-10.724-43.465 43.008 12.346z"></path>
        <path d="m63.458 38.153 10.724 43.465-43.008-12.346z"></path>
        <path d="m149.47 62.93 10.724 43.465-43.008-12.346z"></path>
        <path d="m84.915 125.06 10.724 43.465-43.008-12.346z"></path>
      </g>
    </svg>
    <svg
      class="typescript"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.96533 0.270874C1.88867 0.270874 0.215332 1.94421 0.215332 4.02087V76.5209C0.215332 78.5975 1.88867 80.2709 3.96533 80.2709H76.4653C78.542 80.2709 80.2153 78.5975 80.2153 76.5209V4.02087C80.2153 1.94421 78.542 0.270874 76.4653 0.270874H3.96533ZM61.842 32.7709C63.882 32.7709 65.6887 32.8942 67.2653 33.1409C68.7524 33.3637 70.2117 33.7436 71.6187 34.2742V42.4675C70.9433 42.0005 70.2257 41.5976 69.4753 41.2642C68.7014 40.916 67.9025 40.6263 67.0853 40.3975C65.5373 39.9662 63.9389 39.742 62.332 39.7309C61.332 39.7309 60.422 39.8242 59.602 40.0175C58.8712 40.1738 58.1701 40.4462 57.5253 40.8242C56.9587 41.1709 56.5253 41.5875 56.2153 42.0709C55.9035 42.558 55.7413 43.1259 55.7487 43.7042C55.7487 44.3575 55.9253 44.9475 56.2687 45.4675C56.6153 45.9875 57.1087 46.4809 57.7453 46.9475C58.382 47.4142 59.1553 47.8675 60.0653 48.3142C60.9753 48.7642 62.0053 49.2275 63.152 49.7009C64.7187 50.3575 66.1253 51.0575 67.372 51.7942C68.6187 52.5342 69.6887 53.3709 70.582 54.3042C71.4753 55.2342 72.1553 56.2975 72.6287 57.4942C73.102 58.6909 73.342 60.0809 73.342 61.6709C73.342 63.8609 72.9253 65.7042 72.0987 67.1909C71.291 68.6571 70.1319 69.8998 68.7253 70.8075C67.2093 71.7688 65.529 72.4423 63.7687 72.7942C61.882 73.1942 59.892 73.3942 57.802 73.3942C55.745 73.4032 53.6916 73.2202 51.6687 72.8475C49.9184 72.5448 48.221 71.9914 46.6287 71.2042V62.4375C49.6413 65.0013 53.4629 66.418 57.4187 66.4375C58.5287 66.4375 59.4987 66.3375 60.3253 66.1375C61.1553 65.9375 61.8453 65.6575 62.402 65.3042C62.9553 64.9442 63.3687 64.5242 63.6453 64.0375C63.9511 63.4709 64.0902 62.8293 64.0466 62.1869C64.0029 61.5445 63.7783 60.9276 63.3987 60.4075C62.9034 59.7522 62.2977 59.1882 61.6087 58.7409C60.7542 58.1745 59.8545 57.6795 58.9187 57.2609C57.8095 56.7543 56.6904 56.2698 55.562 55.8075C52.502 54.5309 50.222 52.9675 48.7187 51.1242C47.2187 49.2809 46.4653 47.0509 46.4653 44.4409C46.4653 42.3942 46.8753 40.6375 47.6953 39.1675C48.5153 37.6975 49.6287 36.4875 51.042 35.5375C52.5369 34.5514 54.1965 33.8412 55.942 33.4409C57.8753 32.9851 59.8558 32.7602 61.842 32.7709ZM11.4653 33.3975H43.342V40.6175H31.902V72.7709H22.8453V40.6175H11.4653V33.3975Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="tailwind"
      xmlns="http://www.w3.org/2000/svg"
      width="90"
      height="61"
      viewBox="0 0 100 61"
      fill="none"
    >
      <mask
        id="mask0_316_42"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="100"
        height="60"
      >
        <path d="M0 0H100V59.8909H0V0Z" fill="white"></path>
      </mask>
      <g mask="url(#mask0_316_42)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M50 0C36.6667 0 28.3333 6.65455 25 19.9636C30 13.3091 35.8333 10.8136 42.5 12.4773C46.3037 13.4255 49.0222 16.1816 52.0315 19.2298C56.9333 24.1967 62.6074 29.9455 75 29.9455C88.3333 29.9455 96.6667 23.2909 100 9.98182C95 16.6364 89.1667 19.1318 82.5 17.4682C78.6963 16.5199 75.9778 13.7638 72.9685 10.7157C68.0667 5.74879 62.3926 0 50 0ZM25 29.9455C11.6667 29.9455 3.33333 36.6 0 49.9091C5 43.2545 10.8333 40.7591 17.5 42.4227C21.3037 43.3729 24.0222 46.1271 27.0315 49.1752C31.9333 54.1421 37.6074 59.8909 50 59.8909C63.3333 59.8909 71.6667 53.2364 75 39.9273C70 46.5818 64.1667 49.0773 57.5 47.4136C53.6963 46.4654 50.9778 43.7093 47.9685 40.6611C43.0667 35.6942 37.3926 29.9455 25 29.9455Z"
          fill="currentColor"></path>
      </g>
    </svg>
    <svg
      class="vercel"
      width="81"
      height="81"
      viewBox="0 0 81 81"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M36.7336 0.371147C28.8845 1.23159 21.5044 4.2666 15.5472 9.06944C13.5302 10.6965 10.231 14.0913 8.77692 16.0312C4.63344 21.5693 1.991 27.8897 0.990314 34.695C0.646328 36.9947 0.536877 41.3908 0.755778 43.6905C1.41248 50.4645 3.57021 56.7223 7.08826 62.057C13.5615 71.8974 23.4589 78.2021 35.0919 79.9229C37.3903 80.2671 41.784 80.3766 44.0824 80.1576C50.8527 79.5005 57.107 77.3416 62.4388 73.8216C72.2737 67.3448 78.5749 57.4419 80.2948 45.8025C80.6388 43.5028 80.7483 39.1067 80.5294 36.807C79.732 28.6093 76.8081 21.3503 71.8046 15.1395C70.1785 13.1213 66.7856 9.82037 64.8467 8.36544C59.3117 4.21967 53.0417 1.60705 46.1933 0.574524C44.3013 0.292925 38.5787 0.16777 36.7336 0.371147ZM50.9465 37.1042C56.3721 46.6004 60.8127 54.3913 60.8127 54.4226C60.8127 54.4539 51.916 54.4851 41.0335 54.4851C30.151 54.4851 21.2542 54.4539 21.2542 54.4069C21.2542 54.2818 41.0022 19.7389 41.0491 19.8015C41.0647 19.8171 45.5366 27.6081 50.9465 37.1042Z"
        fill="currentColor"></path>
    </svg>
  </div>
  <div class="text-scroll">
    {
      [...words, ...words]
        .reverse()
        .map((word) => <span class="text-item">{word}&nbsp;-&nbsp;</span>)
    }
  </div>
</div>

<style lang="scss">
  .wrapper {
    width: 100%;
    padding: 2rem 0;
    position: relative;
    overflow-x: hidden;
    .text-scroll {
      width: fit-content;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 200;
      letter-spacing: 4px;
      user-select: none;
      &:first-of-type {
        animation: slide 22s linear infinite;
      }
      &:last-of-type {
        animation: slide 32s linear infinite;
      }
    }
    .tech-logos {
      --gap: 3rem;
      display: flex;
      align-items: center;
      gap: var(--gap);
      width: fit-content;
      padding: 1rem var(--gap) 1rem 0;
      color: var(--text);
      user-select: none;
      animation: slide 10s linear infinite;
      & > svg {
        flex-shrink: 0;
        transform: scale(0.8);
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @media (max-width: 480px) {
    .wrapper {
      .text-scroll {
        font-size: 2rem;
      }
      .tech-logos {
        --gap: 1rem;
        padding: 0.5rem var(--gap) 0.5rem 0;
        & > svg {
          transform: scale(0.6);
        }
      }
    }
  }
</style>
