---
export interface Props {
  id: string
}

const { id } = Astro.props
---

<button class="toggle-theme" aria-label="toggle theme">
  <svg
    class="theme-icon"
    aria-hidden="true"
    data-theme="dark"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <circle
      class="sun"
      cx="12"
      cy="12"
      r="6"
      mask=`url(#moon-mask-${id})`
      fill="currentColor"></circle>
    <g
      class="sun-beams"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-width="1.5"
    >
      <line x1="12" y1="1" x2="12" y2="3"></line>
      <line x1="12" y1="21" x2="12" y2="23"></line>
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
      <line x1="1" y1="12" x2="3" y2="12"></line>
      <line x1="21" y1="12" x2="23" y2="12"></line>
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </g>
    <mask class="moon" id=`moon-mask-${id}`>
      <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
      <circle cx="24" cy="10" r="6" fill="black"></circle>
    </mask>
  </svg>
</button>

<style lang="scss">
  .toggle-theme {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-offset: 4px;
    .theme-icon {
      height: 100%;
      width: 100%;
      color: var(--text);
      transition: color var(--theme-transition);
      & > :is(.moon, .sun, .sun-beams) {
        transform-origin: center center;
      }
      .moon {
        transition: transform 0.25s ease;
        & > circle {
          transition: transform 0.25s ease-out;
          @supports (cx: 1) {
            transition: cx 0.25s ease-out;
          }
        }
      }
      .sun {
        transition: transform 0.25s ease;
      }
      .sun-beams {
        transition:
          opacity 0.15s ease,
          transform 0.25s ease;
      }
      &[data-theme='light'] {
        & > .sun {
          transform: scale(1.4);
        }
        & > .sun-beams {
          opacity: 0;
          transform: rotate(60deg);
        }
        & > .moon > circle {
          transform: translateX(-7px);
          @supports (cx: 1) {
            transform: translateX(0);
            cx: 17;
          }
        }
      }
    }
  }
</style>

<script>
  const toggleThemeButtons =
    document.querySelectorAll<HTMLButtonElement>('.toggle-theme')
  const themeIcons = document.querySelectorAll<SVGElement>('.theme-icon')

  function initTheme() {
    const theme = getLocalStorageTheme() || getPreferredTheme()
    if (theme === 'dark') {
      document.documentElement.classList.add('dark-theme')
    } else {
      document.documentElement.classList.remove('dark-theme')
    }
    updateDataTheme()
  }

  const getLocalStorageTheme = () => localStorage.getItem('theme')

  function getPreferredTheme() {
    const isDarkTheme = window.matchMedia(
      '(prefers-color-scheme: dark)'
    ).matches
    return isDarkTheme ? 'dark' : 'light'
  }

  function updateDataTheme() {
    const currentTheme = document.documentElement.classList.contains(
      'dark-theme'
    )
      ? 'dark'
      : 'light'
    themeIcons.forEach((icon) => icon?.setAttribute('data-theme', currentTheme))
  }

  function updatePreferredTheme() {
    if (document.documentElement.classList.contains('dark-theme')) {
      localStorage.setItem('theme', 'dark')
    } else {
      localStorage.setItem('theme', 'light')
    }
  }

  function toggleTheme() {
    document.documentElement.classList.toggle('dark-theme')
    updateDataTheme()
    updatePreferredTheme()
  }

  toggleThemeButtons.forEach((button) =>
    button.addEventListener('click', toggleTheme)
  )

  initTheme()
</script>
