.container {
  height: 400px;
  width: 700px;
  background-color: var(--gray);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}
.tab_links_container {
  height: 100%;
  width: 20%;
  background-color: var(--accent);
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.tab_link {
  flex: 1 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  color: var(--white);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.tab_link_active {
  background-color: var(--gray);
  color: var(--black);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  z-index: 1;
}
.tab {
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 1rem;
}
.techno_title {
  margin: 1rem 0 0 0;
  text-align: center;
}