.container {
  --bezier-transition: cubic-bezier(0, 0.5, 0.5, 1);
  aspect-ratio: 16/9;
  width: min(90%, 750px);
  margin: 0 auto;
  background-color: var(--gray);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}
.tab_links_container {
  height: 100%;
  width: 25%;
  background-color: var(--accent);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tab_link {
  flex: 1 0 33%;
  color: var(--white);
  background: transparent;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border: none;
  padding: 0 1rem;
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s var(--bezier-transition);
  z-index: 2;
}
.tab_link_active {
  color: var(--black);
}
.tab_selector {
  position: absolute;
  top: 0;
  height: calc(100% / 3);
  width: 100%;
  background-color: var(--gray);
  color: var(--black);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  transition: transform 0.3s var(--bezier-transition);
  z-index: 1;
  &.tab_1 {
    transform: translateY(0);
  }
  &.tab_2 {
    transform: translateY(100%);
  }
  &.tab_3 {
    transform: translateY(200%);
  }
}
.tab_container {
  height: 100%;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}
.tab {
  height: 100%;
  width: 100%;
  padding: 1.2rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.2rem;
  opacity: 0;
  transition: all 0.3s var(--bezier-transition);
  pointer-events: none;
}
.tab_up {
  transform: translateY(-10%);
}
.tab_down {
  transform: translateY(10%);
}
.tab_active {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}
.technoLogo {
  height: auto;
  width: 4.5rem;
}
.techno_title {
  color: var(--black);
  margin: 1rem 0 0 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    width: min(80%, 500px);
    height: 500px;
  }
  .tab_links_container {
    width: max(100px, 33%);
  }
  .tab {
    grid-template-columns: repeat(2, 1fr);
  }
  .technoLogo {
    width: 4rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}