---
import SectionLayout from '../layouts/SectionLayout.astro'
import { Content as AboutContent } from '../content/about/about.md'
---

<SectionLayout title="A propos" id="about">
  <div class="content">
    <AboutContent />
  </div>
</SectionLayout>

<style lang="scss">
  .content {
    --highlight-padding: 1px;
    width: min(80%, 800px);
    margin: auto;
    & :global(p) {
      margin: 0 0 1rem 0;
      line-height: 1.25;
    }
    & :global(.highlight) {
      position: relative;
    }
    & :global(.highlight::after) {
      content: '';
      width: calc(100% + 2 * var(--highlight-padding));
      height: 50%;
      background: var(--highlight);
      position: absolute;
      top: 52%;
      left: calc(-1 * var(--highlight-padding));
      z-index: -1;
      transition: background-color var(--theme-transition);
    }
  }

  @media (max-width: 768px) {
    .content {
      width: 90%;
    }
  }
  @media (max-width: 480px) {
    .content {
      width: 100%;
    }
  }
</style>
