---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="A propos" id="about">
  <div class="content">
    <p>Comment ça a commencé, mon parcours, ..., pas designer mais on dépanne. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem.</p>
    <p>Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory.</p> 
    <p>ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>
</SectionLayout>

<style lang="scss">
  .content {
    max-width: 800px;
    width: 80%;
    margin: auto;
    p {
      margin: 0 0 1rem;
    }
  }
</style>