---
import SectionLayout from '../layouts/SectionLayout.astro'
import GravityButton from '../components/GravityButton.astro'
import LinkedinLogo from '../assets/linkedin.svg?raw'
import GithubLogo from '../assets/technologies/github.svg?raw'
---

<SectionLayout title="Contact" id="contact">
  <div class="container">
    <p>Une envie de discuter ?</p>
    <a class="bubble" href="mailto:eliot.bas.dev@gmail.com">
      <span class="email">eliot.bas.dev@gmail.com</span>
    </a>
    <p class="social-media-msg">Ou bien me retrouver sur :</p>
    <div class="social-media">
      <GravityButton>
        <a
          href="https://www.linkedin.com/in/eliot-bas-749ba2253/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Fragment set:html={LinkedinLogo} />
        </a>
      </GravityButton>
      <GravityButton>
        <a
          href="https://github.com/Elib27"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Fragment set:html={GithubLogo} />
        </a>
      </GravityButton>
    </div>
  </div>
</SectionLayout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    .bubble {
      background-color: var(--secondary);
      width: fit-content;
      padding: 3rem 5rem;
      border-radius: 2rem;
      position: relative;
      margin-bottom: 5rem;
      &::after {
        content: '';
        height: 0;
        width: 0;
        border-top: 6rem solid var(--secondary);
        border-right: 8rem solid transparent;
        position: absolute;
        bottom: -3rem;
        left: 0;
        z-index: -1;
      }
      &:hover {
        .email {
          &::after {
            transform: scaleX(50%);
          }
        }
      }
      .email {
        font-size: 3rem;
        text-align: center;
        position: relative;
        padding-bottom: 0.6rem;
        color: var(--black);
        &::after {
          content: '';
          height: 3px;
          width: 100%;
          background-color: var(--black);
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: left center;
          transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1);
        }
      }
    }
    .social-media-msg {
      margin-bottom: 2rem;
    }
    .social-media {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      align-items: center;
    }
  }
</style>
