---
import SectionLayout from '../layouts/SectionLayout.astro'
import GravityButton from '../components/GravityButton.astro'
import LinkedinLogo from '../assets/linkedin.svg?raw'
import GithubLogo from '../assets/technologies/github.svg?raw'
---

<SectionLayout title="Contact" id="contact">
  <div class="container">
    <p>
      <span>
        Les aventures web les plus épiques commencent par un simple clic.
      </span>
      <span> Qu'attendez-vous ? Contactez-moi et commençons l'aventure !</span>
    </p>
    <a class="bubble" href="mailto:eliot.bas.dev@gmail.com">
      <span class="email">eliot.bas.dev@gmail.com</span>
    </a>
    <p class="social-media-msg">Retrouvez-moi également sur :</p>
    <div class="social-media">
      <GravityButton>
        <a
          href="https://www.linkedin.com/in/eliot-bas-749ba2253/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Linkedin"
        >
          <Fragment set:html={LinkedinLogo} />
        </a>
      </GravityButton>
      <GravityButton>
        <a
          href="https://github.com/Elib27"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Github"
        >
          <Fragment set:html={GithubLogo} />
        </a>
      </GravityButton>
    </div>
  </div>
  <svg
    class="waves"
    viewBox="0 0 849 376"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.999023 370.384C84.2455 272.876 196.679 88.9537 424.242 99.7312C564.009 106.351 737.113 57.9771 849 0.466797"
      stroke="currentColor"></path>
    <path
      d="M57.6045 370.384C96.8937 299.29 250.245 119.5 370.729 129.485C547.247 144.114 723.649 91.0164 849 30.9375"
      stroke="currentColor"></path>
    <path
      d="M126.34 370.383C127.303 323.487 273.269 170.278 386.06 184.473C512.591 200.397 688.088 155.441 849 112.452"
      stroke="currentColor"></path>
    <path
      d="M222.763 375.251C225.739 346.021 309.168 248.317 447.601 248.317C587.329 248.317 752.787 206.393 849 171.316"
      stroke="currentColor"></path>
    <path
      d="M304.147 373.384C495.039 330.368 595.292 286.042 849 270.112"
      stroke="currentColor"></path>
  </svg>
</SectionLayout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: min(80%, 800px);
      font-size: 1.2rem;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 3rem;
      span {
        display: block;
        margin-bottom: 0.4rem;
      }
    }
    .bubble {
      background-color: var(--secondary);
      width: fit-content;
      padding: 3rem 5rem;
      margin-bottom: 5rem;
      border-radius: 1.8rem;
      line-height: 1;
      position: relative;
      &::after {
        content: '';
        height: 0;
        width: 0;
        border-top: 6rem solid var(--secondary);
        border-right: 8rem solid transparent;
        position: absolute;
        bottom: -3rem;
        left: 0;
        z-index: -1;
      }
      &:hover {
        .email {
          &::after {
            transform: scaleX(50%);
          }
        }
      }
      .email {
        font-size: clamp(2.4rem, 4vw, 3rem);
        text-align: center;
        position: relative;
        padding-bottom: 0.6rem;
        color: var(--black);
        &::after {
          content: '';
          height: 3px;
          width: 100%;
          background-color: var(--black);
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: left center;
          transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1);
        }
      }
    }
    .social-media-msg {
      margin-bottom: 1rem;
    }
    .social-media {
      display: flex;
      align-items: center;
      & :global(path) {
        transition: color var(--theme-transition);
      }
    }
  }
  .waves {
    stroke-width: 1px;
    width: 45%;
    color: var(--accent);
    position: absolute;
    right: 0;
    bottom: -10px;
    pointer-events: none;
    z-index: -1;
  }

  @media (max-width: 768px) {
    .container {
      .bubble {
        padding: 2.8rem 4rem;
        margin-bottom: 5rem;
        border-radius: 1.6rem;
        &::after {
          border-top: 6rem solid var(--secondary);
          border-right: 8rem solid transparent;
          bottom: -2.8rem;
        }
        .email {
          font-size: clamp(1rem, 6vw, 2.4rem);
        }
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      .bubble {
        padding: 2.4rem 3.2rem;
        margin-bottom: 5rem;
        border-radius: 1.4rem;
        &::after {
          border-top: 6rem solid var(--secondary);
          border-right: 8rem solid transparent;
          bottom: -2.6rem;
        }
        // .email {
        //   font-size: clamp(1rem, 6vw, 2rem);
        // }
      }
    }
  }
</style>
