---
import TechnologiesTabs from '../components/TechnologiesTabs/TechnologiesTabs.jsx'
---

<section id="technologies">
  <h2>Technologies</h2>
  <TechnologiesTabs client:idle/>
</section>

<style lang="scss">
  #technologies {
    padding: 0 1rem;
    h2 {
      text-align: center;
    }
  }
</style>