---
import SectionLayout from '../layouts/SectionLayout.astro'
import TechnologiesTabs from '../components/TechnologiesTabs/TechnologiesTabs.jsx'
---

<SectionLayout title="Technologies" id="technologies">
  <div class="container">
    <TechnologiesTabs client:idle />
  </div>
</SectionLayout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    h2 {
      margin-bottom: 3rem;
    }
  }
</style>
