.gameboard {
  height: clamp(200px, 60vmin, 1000px);
  width: clamp(200px, 60vmin, 1000px);
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  position: relative;
  font-size: 2rem;
  background-color: var(--othello-gameboard-bg);
  transition: background-color var(--theme-transition);
}

.cell {
  border: 1px solid var(--text);
}

.row {
  height: 12.5%;
}

.piece {
  height: 85%;
  width: 85%;
  border-radius: 50%;
  margin: 0 auto;
  transition: background-color var(--theme-transition);
}

.black {
  background-color: var(--text);
}

.accent{
  background-color: var(--accent);
}

.possibleMove {
  border: 1px solid var(--text);
  opacity: 0.25;
  cursor: pointer;
}

.lastAIMove {
  box-shadow: 0 0 7px 1px var(--text);
}

@media screen and (max-width: 960px) {
  .gameboard {
    height: max(80vmin, 430px);
    width: max(80vmin, 430px);
  }
}

@media screen and (max-width: 480px) {
  .gameboard {
    height: 90vmin;
    width: 90vmin;
  }
}