---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Loader from '../components/Loader.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export interface Props {
  noIndex?: boolean
}

const { noIndex } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t('site.metaDescription')} />
    {noIndex && <meta name="robots" content="noindex" />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{t('site.title')}</title>
  </head>
  <body>
    <Loader />
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --secondary: #d2d4ff;
    --accent: #585efb;
    --black: #121212;
    --gray: #e6e6f0;
    --white: #fafafa;
    --text: var(--black);
    --background: var(--white);
    --nav-background: var(--white);
    --highlight: var(--secondary);
    --othello-gameboard-bg: #eaeaea;
    --radius: 18px;
    --theme-transition: 0.15s ease-out;
    &.dark-theme {
      --text: var(--white);
      --background: #02031d;
      --nav-background: #282870;
      --highlight: var(--accent);
      --othello-gameboard-bg: #1e1f33;
    }
  }
  html {
    font-family: 'Figtree', sans-serif;
    font-size: clamp(16px, calc(15px + 0.2vw), 20px);
    background-color: var(--background);
    scroll-behavior: smooth;
    transition: background-color var(--theme-transition);
  }
  body {
    margin: 0;
    overflow-x: hidden;
    &.no-scroll {
      overflow: hidden;
    }
  }
  h1,
  h2,
  h3,
  p,
  span {
    color: var(--text);
  }
  a {
    color: var(--text);
    text-decoration: none;
    line-height: 0;
    outline-color: var(--accent);
  }
  button {
  }
  p {
    font-size: 1rem;
    margin: 0;
    transition: color var(--theme-transition);
  }
  * {
    box-sizing: border-box;
  }
</style>

<script>
  window.addEventListener('load', () => {
    console.clear()
    console.log(
      '%c BAS Eliot - Portfolio ',
      'color: #fafafa; background-color: #585efb; font-size: 30px; font-weight: 700'
    )
  })
</script>
