---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light;
		--primary: #585EFB;
		--secondary: #D2D4FF;
		--accent: #585EFB;
		--black: #121212;
		--gray: #e4e4e6;
		--white: #F6F6F6;
		--text: #121212;
		--background: #F6F6F6;
		--nav-background: #F6F6F6;
		--radius: 18px;
		&.dark-theme {
			--background: #1d1d1d;
			--text: #F6F6F6;
			--nav-background: #35357e;
		}
	}
	html {
		font-family: "Figtree", sans-serif;
		background-color: var(--background);
		scroll-behavior: smooth;
		transition: background-color 0.1s ease-out;
	}
	body {
		margin: 0;
		overflow-x: hidden;
	}
	h1, h2, h3, p, span {
		color: var(--text);
	}
	a {
		color: var(--text);
		text-decoration: none;
	}
	p {
		font-size: 1rem;
		margin: 0;
	}
	* {
		box-sizing: border-box;
	}
</style>
